<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'></meta>
  <title>Contact</title>
  <link rel='prefetch prerender' href='/'></link>
  <link rel='prefetch prerender' href='/books'></link>
  <link rel='prefetch prerender' href='/running'></link>
  <link rel='prefetch prerender' href='/contact'></link>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato|Muli&display=swap'></link>
  <link rel='stylesheet' href='/styles/main.css'></link>
</head>
<body>
  <div class='nav_top'>
    <div class='nts'>
      <span class='title_font title_size off_black'>Aleksai Losey</span>
    </div>
    <div class='nts right_justify'>

    </div>
  </div>
  <div class='main'>
    <div class='nav_body'>
      <a href='/' class='body_font body_size nav_body_item blue'>Home</a>
      <a href='/books' class='body_font body_size nav_body_item blue'>Reading list</a>
      <a href='/running' class='body_font body_size nav_body_item blue'>Running</a>
      <div class='body_font body_size nav_body_item blue nav_body_item_selected'>Contact</div>
      <div class='nav_body_item'></div>
      <a href='https://www.strava.com/athletes/48447345' target='_blank' rel='noreferrer' class='body_font body_size nav_body_item blue'>Follow me on Strava</a>
      <a href='https://github.com/aleksailosey' target='_blank' rel='noreferrer' class='body_font body_size nav_body_item blue'>Follow me on Github</a>
      <a href='https://twitter.com/intent/user?screen_name=aleksailosey' target='_blank' rel='noreferrer' class='body_font body_size nav_body_item blue'>Follow me on Twitter</a>
    </div>
    <div class='body_content body_font middle_size damn_near_black'>
      <div class='buffy'></div>
      <div>
      Get in touch with me via email: <a class='blue' href='mailto:aleksailosey@gmail.com?subject=From%20your%20website' target='_blank'>aleksailosey@gmail.com</a>.
      </div>
    </div>
  </div>
</body>
