<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'></meta>
  <title>Fun stuff</title>
  <link rel='icon' href='/images/a.png'></link>
  <link rel='prefetch prerender' href='/'></link>
  <link rel='prefetch prerender' href='/running'></link>
  <link rel='prefetch prerender' href='/stuff'></link>
  <link rel='prefetch prerender' href='/contact'></link>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato|Muli&display=swap'></link>
  <link rel='stylesheet' href='/styles/main.css'></link>
  <script type='text/javascript' src='/scripts/main.js'></script>
  <script type='text/javascript' async src='https://www.googletagmanager.com/gtag/js?id=UA-143197236-5'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-143197236-5');
  </script>
</head>
<body>
  <div class='alt_menu'>
    <a href='/' class='body_font body_size nav_body_item blue'>Home</a>
    <a href='/books' class='body_font body_size nav_body_item blue'>Reading list</a>
    <a href='/running' class='body_font body_size nav_body_item blue'>Running</a>
    <div class='body_font body_size nav_body_item blue  nav_body_item_selected'>Fun stuff</div>
    <a href='/contact' class='body_font body_size nav_body_item blue'>Contact</a>
    <div class='nav_body_item'></div>
    <a href='https://www.strava.com/athletes/48447345' target='_blank' rel='noreferrer' class='body_font body_size nav_body_item blue'>Follow me on Strava</a>
    <a href='https://github.com/aleksailosey' target='_blank' rel='noreferrer' class='body_font body_size nav_body_item blue'>Follow me on Github</a>
    <a href='https://twitter.com/intent/user?screen_name=aleksailosey' target='_blank' rel='noreferrer' class='body_font body_size nav_body_item blue'>Follow me on Twitter</a>
  </div>
  <div class='nav_top'>
    <div class='nts'>
      <a href='/' class='title title_font title_size off_black'>Aleksai Losey</a>
    </div>
    <div class='nts right_justify'>
      <img class='menu_icon' src='/icons/menu.svg' onclick='toggleAltMenu();'></img>
    </div>
  </div>
  <div class='main'>
    <div class='nav_body'>
      <a href='/' class='body_font body_size nav_body_item blue'>Home</a>
      <a href='/books' class='body_font body_size nav_body_item blue'>Reading list</a>
      <a href='/running' class='body_font body_size nav_body_item blue'>Running</a>
      <div class='body_font body_size nav_body_item blue  nav_body_item_selected'>Fun stuff</div>
      <a href='/contact' class='body_font body_size nav_body_item blue'>Contact</a>
      <div class='nav_body_item'></div>
      <a href='https://www.strava.com/athletes/48447345' target='_blank' rel='noreferrer' class='body_font body_size nav_body_item blue'>Follow me on Strava</a>
      <a href='https://github.com/aleksailosey' target='_blank' rel='noreferrer' class='body_font body_size nav_body_item blue'>Follow me on Github</a>
      <a href='https://twitter.com/intent/user?screen_name=aleksailosey' target='_blank' rel='noreferrer' class='body_font body_size nav_body_item blue'>Follow me on Twitter</a>
    </div>
    <div class='body_content body_font middle_size damn_near_black'>
      <div class='buffy'></div>
      Here is a small aggregate of stuff I find either compelling, interesting, or strange:
      <div class='buffy'></div>
      <div class='mb'>
        <a href='https://www.wired.co.uk/article/inside-the-clone-factory' target='_blank' class='body_font middle_size blue on_hover_underline_disappear'>Inside the clone factory: the story of the Samwer brothers and Rocket Internet</a>
      </div>
      <div class='mb'>
        <a href='https://www.youtube.com/watch?v=W608u6sBFpo' target='_blank' class='body_font middle_size blue on_hover_underline_disappear'>Blitzscaling 18: Brian Chesky on Launching Airbnb and the Challenges of Scale</a>
      </div>
      <div class='mb'>
        <a href='https://www.nytimes.com/2009/03/08/jobs/08bosses.html?_r=1' target='_blank' class='body_font middle_size blue on_hover_underline_disappear'>For Twitter C.E.O., Well-Orchestrated Accidents</a>
      </div>
      <div class='mb'>
        <a href='https://www.bloomberg.com/news/features/2017-08-01/how-two-brothers-turned-seven-lines-of-code-into-a-9-2-billion-startup?cmpid=socialflow-twitter-businessweek&utm_content=businessweek&utm_campaign=socialflow-organic&utm_source=twitter&utm_medium=social' target='_blank' class='body_font middle_size blue on_hover_underline_disappear'>How Two Brothers Turned Seven Lines of Code Into a $9.2 Billion Startup</a>
      </div>
      <div class='mb'>
        <a href='http://worrydream.com/ClimateChange/' target='_blank' class='body_font middle_size blue on_hover_underline_disappear'>What Can A Technologist Do About Climate Change?</a>
      </div>
      <div class='mb'>
        <a href='https://www.fool.com/investing/2019/01/31/amazons-move-against-mongodb-doesnt-worry-me.aspx' target='_blank' class='body_font middle_size blue on_hover_underline_disappear'>Amazon's Move Against MongoDB Doesn't Worry Me</a>
      </div>
      <div class='mb'>
        <a href='https://m.signalvnoise.com/silicon-valley-arrogance-i-can-tell-you-which-startups-will-succeed-without-even-knowing-what/' target='_blank' class='body_font middle_size blue on_hover_underline_disappear'>Silicon Valley arrogance: “I can tell you which startups will succeed, without even knowing what they do"</a>
      </div>
      <div class='mb'>
        <a href='https://www.inkandswitch.com/end-user-programming.html' target='_blank' class='body_font middle_size blue on_hover_underline_disappear'>End-user programming</a>
      </div>
      <div class='mb'>
        <a href='https://seldo.com/posts/are_we_making_the_web_too_complicated' target='_blank' class='body_font middle_size blue on_hover_underline_disappear'>Are we making the web too complicated?</a>
      </div>
    </div>
  </div>
  <footer><a href='mailto:aleksailosey@gmail.com?subject=From%20your%20website'>aleksailosey@gmail.com</a></footer>
</body>
