<head>
  <script src='/scripts/peer.min.js'></script>
  <script>
  const peer = new Peer('{{key}}', {
    host: 'apisoup.com',
    secure: true,
    port: 443,
    path: '/peerjs',
    config: {
      'iceServers': [
        { url: 'stun:stun.l.google.com:19302' },
      ]}
  });
  var oppositeID = '{{#equals key 'test'}}test2{{else}}test{{/equals}}';
  var connection = peer.connect(oppositeID);
  navigator.getWebcam = (navigator.getUserMedia || navigator.webKitGetUserMedia || navigator.moxGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
  var constraints = {
    video: {
      width: { ideal: 4096 },
      height: { ideal: 2160 }
    },
    audio: true
  }

  navigator.getWebcam(constraints, function(stream) {
    document.getElementById('local').srcObject = stream;
    var call = peer.call(oppositeID, stream);
    call.on('stream', function(remoteStream) {
      document.getElementById('remote').srcObject = remoteStream;
    });
  }, function(err) {
    console.log('Failed to get local stream' ,err);
  });

  peer.on('call', function(call) {
    navigator.getWebcam(constraints, function(stream) {
      document.getElementById('local').srcObject = stream;
      call.answer(stream); // Answer the call with an A/V stream.
      call.on('stream', function(remoteStream) {
        document.getElementById('remote').srcObject = remoteStream;
      });
    }, function(err) {
      console.log('Failed to get local stream', err);
    });
  });
  </script>
</head>
<body>
  <style>

  * {
    margin: 0px;
    padding: 0px;
  }

  #remote_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: relative;
  }

  #remote {
    width: 90vw;
    height: auto;
    border-radius: 2px;
  }

  #local {
    position: absolute;
    height: 200px;
    width: auto;
    right: 15px;
    bottom: 15px;
  }

  </style>
  <div id='remote_wrap'>
    <video id='remote' muted autoplay></video>
    <video id='local' muted autoplay></video>
  </div>
</body>
