* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #e6ecf0;
}

.body_no_scroll {
  overflow-y: hidden;
}

.nav_top {
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #d0d6db;
  z-index: 3;
  padding: 0px 2% 0px 2%;
}

.nts {
  display: flex;
  flex-grow: 1;
}

.right_justify {
  justify-content: flex-end;
}

.title {
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  transition: 0.5s;
}

.title:hover {
  background-color: #3c3e42;
  color: #e6ecf0;
  padding: 0px 10px 0px 10px;
  transition: 0.5s;
}

.title_font {
  font-family: 'Lato', sans-serif;
}

.body_font {
  font-family: 'Muli', sans-serif;
}

.off_black {
  color: #3c3e42;
}

.damn_near_black {
  color: #1a1b1c;
}

.blue {
  color: #1a7f6b;
}

.title_size {
  font-size: 26px;
}

.middle_size {
  font-size: 20px;
}

.body_size {
  font-size: 17px;
}

.main {
  display: flex;
  padding: 0px 2% 0px 2%;
}

.nav_body {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding-top: 15px;
}

.nav_body_item {
  margin-bottom: 10px;
  padding: 5px;
  user-select: none;
  border-radius: 5px;
  width: 200px;
}

.nav_body_item_selected {
  color: #e6ecf0;
  background-color: #23a98e;
  text-decoration: none;
  cursor: default;
}

.nav_body_item:hover {
  text-decoration: none;
}

.body_content {
  /* display: flex;
  flex-direction: column;
  width: 100%; */
  min-height: calc(100vh - 61px);
  margin-left: 15px;
  /* margin-top: 15px; */
  border-left: 1px solid #d0d6db;
  padding-left: 10px;
}

.buffy {
  height: 15px;
}

.menu_icon {
  display: none;
  width: 26px;
  height: auto;
  cursor: pointer;
  z-index: 2;
}

.menu_icon_larger {
  width: 35px !important;
}

.menu_icon:hover {
  opacity: 0.75;
}

.alt_menu {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 75px);
  background-color: #e6ecf0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding-top: 75px;
  overflow-y: scroll;
}

.running_photo {
  max-width: 96%;
  max-height: 500px;
  /* max-width: 500px; */
  height: auto;
  image-orientation: from-image;
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
}

.photo_label {
  display: flex;
  height: 50px;
  align-items: center;
}


.alt_menu .nav_body_item {
  width: 94%;
  border-radius: 0px;
}

.book_section {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.underline {
  text-decoration: underline;
}

.book_item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.book_item:hover {
  text-decoration: none;
}

.suggestion_wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6ecf0;
  width: 96%;
  max-width: 500px;
  border-radius: 10px;
  padding-bottom: 5px;
}

.s_head {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 0px 15px 7%;
}

.s_input {
  width: 95%;
  height: 43px;
  border-radius: 5px;
  border: 1px solid #dadfe3;
  background-color: #e6ecf0;
  margin-bottom: 10px;
  outline: none;
  text-indent: 10px;
  -webkit-appearance: none;
  transition: 0.2s;
}

.s_input:focus {
  border-color: #47b59f;
}

.s_input::placeholder {
  color: #a6adb3;
}

.s_button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #e6ecf0;
  background-color: #23a98e;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  width: 95%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.s_button:nth-of-type(2) {
  margin-top: 5px;
}

footer {
  display: flex;
  width: 100%;
  position: absolute;
  height: 40px;
  align-items: center;
  background-color: #d0d6db;
  padding-left: 2%;
}

footer a {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: #7f8d99;
}

@media (min-width: 800px) {
  .alt_menu {
    display: none !important;
  }
}


@media (max-width: 800px) {
  .body_size {
    font-size: 16px;
  }
  .middle_size {
    font-size: 17px;
  }
  .title_size {
    font-size: 22px;
  }
  .nav_body {
    display: none;
  }
  .body_content {
    padding-left: 0px;
    border-left: none;
    margin-left: 0px;
  }
  .menu_icon {
    display: block;
  }
  footer {
    padding-left: 15px;
  }
  .title {
    transition: 0s;
  }
  .title:hover {
    transition: 0s;
  }
}
